In [2]:
import pandas as pd
from pathlib import Path

data_path = Path("../data/raw/electricity")
files = list(data_path.glob("*.csv"))
print("Files found:", len(files))

Files found: 24

In [3]:
dfs = [pd.read_csv(f) for f in files]
df = pd.concat(dfs, ignore_index=True)
print("Combined shape:", df.shape)
df.head()

Combined shape: (417118, 22)

,SETTLEMENT_DATE,SETTLEMENT_PERIOD,ND,TSD,ENGLAND_WALES_DEMAND,EMBEDDED_WIND_GENERATION,EMBEDDED_WIND_CAPACITY,EMBEDDED_SOLAR_GENERATION,EMBEDDED_SOLAR_CAPACITY,NON_BM_STOR,...,IFA2_FLOW,BRITNED_FLOW,MOYLE_FLOW,EAST_WEST_FLOW,NEMO_FLOW,NSL_FLOW,ELECLINK_FLOW,VIKING_FLOW,GREENLINK_FLOW,SCOTTISH_TRANSFER
0,01-JAN-2022,1,21940,23275.0,20513,2713.0,6527.0,0.0,14008.0,0,...,-4.0,586.0,320.0,384.0,-100.0,210.0,0.0,0.0,0.0,NaN
1,01-JAN-2022,2,22427,23489.0,21021,2755.0,6527.0,0.0,14008.0,0,...,-4.0,583.0,320.0,403.0,-104.0,176.0,0.0,0.0,0.0,NaN
2,01-JAN-2022,3,21896,23672.0,20619,2930.0,6527.0,0.0,14008.0,0,...,-4.0,567.0,320.0,440.0,-4.0,-205.0,0.0,0.0,0.0,NaN
3,01-JAN-2022,4,20693,23272.0,19615,3090.0,6527.0,0.0,14008.0,0,...,-4.0,444.0,320.0,387.0,-6.0,-283.0,0.0,0.0,0.0,NaN
4,01-JAN-2022,5,19481,23958.0,18545,3161.0,6527.0,0.0,14008.0,0,...,-4.0,-383.0,320.0,476.0,-561.0,-686.0,0.0,0.0,0.0,NaN

In [4]:
df.to_csv("../data/raw/uk_electricity_combined.csv", index=False)
print("✅ Combined dataset saved")

✅ Combined dataset saved